/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Sumana', serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}



.avatar {
    display: inline-block;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

.avatar-list {
  height: 25px;
  border-radius: 100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0;
    height: 65px;
}

.nav-bar {
    height: 65px;
}

.nav-link {
    display: inline;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Sumana', serif;
}

.nav-link > i {
  font-size: 30px;
  line-height: 65px;
}

.nav-link:hover {
  color: #A9A9A9;
  text-decoration: none;
}

.header-logo {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Teko', sans-serif;
}

.header-logo > h6 {
    display: inline;
    color: white;
    font-size: 35px;
    line-height: 53px;
}

.header-logo > img {
    height: 50px;
}

.list-header {
    color: #A9A9A9;
    font-family: 'Sumana', serif;
}

td {
  font-size: 12px;
}

tr td:nth-child(2){
    width:15%;
}

tr td:nth-child(3){
    width:12%;
}

.post{
  margin-top: 50px;
  width: 55%;
}
.post-header {
  font-family: 'Sumana', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-header span {
  width: 120px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.post-body {
  margin: 7px;
}
.post-footer {
  display: flex;
  justify-content: flex-end;
}
.post-footer span {
  background-color: #C0C0C0;
  color: white;
  border-radius: 3px;
  padding: 2px;
}

.new-post {
  margin-top: 50px;
  width: 55%;
}

input[type="text"] {
  width: 100%;
}

textarea {
  width: 100%;
  height: 300px;
}


.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #efefef;
    text-align: center;
    height: 20px;
    font-size: 10px;
    font-family: 'Sumana', serif;
}
