<!DOCTYPE html>
<html>
  <head>
    <title>GaWireApi</title>
  </head>

  <body>
    <%= react_component('Header', {user: current_user, img: asset_url('/assets/ga-logo.png')}, {prerender: true}) %>
    <%= yield %>
    <%= react_component('Footer', {}, {prerender: true}) %>
  </body>
</html>
